<div class="items-container">
    <div class="items-left-container">
        <div class="items-search-container">
            <input
                type="text"
                name="items-search"
                id="items-search"
                class="items-search"
            />
            <span class="items-search-icon"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.8"
                    stroke="currentColor"
                    class="item-search-icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                    />
                </svg>
            </span>
        </div>
        <div class="items-table-container">
            <table class="items-table">
                <thead>
                    <tr scope="col">
                        <th data-sort="item" data-direction="asc" class="col-item-head">Item<span class="th-sort-direction"></span></th>
                        <th data-sort="number" data-direction="asc" class="col-num-head">Item #<span class="th-sort-direction"></span></th>
                        <th data-sort="brand" data-direction="asc" class="col-brand-head">Brand<span class="th-sort-direction"></span></th>
                        <th data-sort="type" data-direction="asc" class="col-type-head">Type<span class="th-sort-direction"></span></th>
                        <th data-sort="weight" data-direction="asc" class="col-weight-head">Weight<span class="th-sort-direction"></span></th>
                        <th data-sort="palletQty" data-direction="asc" class="col-pallet-head">Pallet<span class="th-sort-direction"></span></th>
                        <th data-sort="onHand" data-direction="asc" class="col-onhand-head">Stock<span class="th-sort-direction"></span></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for( let i = 0; i < items.length; i++ ) { %>
                        <tr class="item-parent <%= (i + 1) % 2 === 0 ? 'even' : 'odd' %>">
                            <td class="col-item"><%= items[i].item %></td>
                            <td class="col-num"><%= items[i].number %></td>
                            <td class="col-brand"><%= items[i].brand %></td>
                            <td class="col-type"><%= items[i].type %></td>
                            <td class="col-weight"><%= items[i].weight %>lbs</td>
                            <td class="col-pallet">x<%= items[i].palletQty %></td>
                            <td class="col-onhand"><%= items[i].onHand %></td>
                        </tr>
                        <tr class="item-child">
                            <td colspan="7"><div class="item-child-content">Locations <% items[i].locations.forEach(loc => { %>
                             <%= `- ${loc.location.location}` %>
                            <% }) %></div></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="items-menu-container">
        <button class="btn-add-item">Add Item</button>
        <button class="btn-edit-item">Edit Item</button>
        <button class="btn-item-history">Item History</button>
        <button class="btn-receiving">Receiving</button>
    </div>
</div>
