<div class="items-container">
    <div class="overlay hidden"></div>
    <div class="items-left-container">
        
        <div class="items-search-container">
            <input
                type="text"
                name="items-search"
                id="items-search"
                class="items-search"
            />
            <span class="items-search-icon"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.8"
                    stroke="currentColor"
                    class="item-search-icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                    />
                </svg>
            </span>
        </div>
        <div class="items-table-container">
            <table class="items-table">
                <thead>
                    <tr scope="col">
                        <th data-sort="name" data-direction="asc" class="col-item-head">Item<span class="th-sort-direction"></span></th>
                        <th data-sort="number" data-direction="asc" class="col-num-head">Item #<span class="th-sort-direction"></span></th>
                        <th data-sort="locations" data-direction="asc" class="col-loc-head">Location<span class="th-sort-direction"></span></th>
                        <th data-sort="brand" data-direction="asc" class="col-brand-head">Brand<span class="th-sort-direction"></span></th>
                        <th data-sort="type" data-direction="asc" class="col-type-head">Type<span class="th-sort-direction"></span></th>
                        <th data-sort="weight" data-direction="asc" class="col-weight-head">Weight<span class="th-sort-direction"></span></th>
                        <th data-sort="palletQty" data-direction="asc" class="col-pallet-head">Pallet<span class="th-sort-direction"></span></th>
                        <th data-sort="stock" data-direction="asc" class="col-onhand-head">Stock<span class="th-sort-direction"></span></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for( let i = 0; i < items.length; i++ ) { %>
                        <tr class="item-parent <%= (i + 1) % 2 === 0 ? 'even' : 'odd' %>" data-itemid="<%= items[i].id %>">
                            <td class="col-item"><%= items[i].name %></td>
                            <td class="col-num"><%= items[i].number %></td>
                            <td class="col-loc"><%= items[i].locations[0]?.location?.name || "-" %></td>
                            <td class="col-brand"><%= items[i].brand %></td>
                            <td class="col-type"><%= items[i].type %></td>
                            <td class="col-weight"><%= items[i].weight %>lbs</td>
                            <td class="col-pallet">x<%= items[i].palletQty %></td>
                            <td class="col-onhand"><%= items[i].stock %></td>
                        </tr>
                        <tr class="item-child">
                            <td colspan="8"><div class="item-child-content">All Locations -<% items[i].locations.forEach(loc => { %>
                             <%= ` ${loc.location.name}` %>
                            <% }) %></div></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <dialog class="modal" id="modal">
            <form action="" method="post" class="item-form">
                <div class="form-title-container">
                    <p class="item-form-header"></p>
                    <input type="text" name="item-id" id="item-id" class="item-id" readonly>
                </div>
                <!-- item, number, type, brand, weight, onHand, palletQty, location -->
                 <div class="form-input-container">
                     <label for="item-name">Item: </label>
                     <input type="text" name="item-name" id="item-name" class="item-name">
                 </div>
                 <div class="form-input-container">
                    <label for="item-number">Number: </label>
                    <input type="text" name="item-number" id="item-number" class="item-number">
                 </div>
                 <div class="form-input-container">
                    <label for="item-brand">Brand: </label>
                    <select name="item-brand" id="item-brand">
                        <option value="">-Select a Brand-</option>
                        <% brands.forEach(brand => { %>
                         <option value="<%= brand %>"><%= brand %></option>
                        <% }) %>
                    </select>
                 </div>
                 <div class="form-input-container">
                    <label for="item-type">Type: </label>
                     <select name="item-type" id="item-type">
                        <option value="">-Select a Type-</option>
                        <% types.forEach(type => { %>
                         <option value="<%= type %>"><%= type %></option>
                        <% }) %>
                     </select>
                 </div>
                 <div class="form-input-container">
                    <label for="item-weight">Weight(lbs): </label>
                    <input type="number" name="item-weight" id="item-weight" class="item-weight">
                 </div>
                 <div class="form-input-container">
                    <label for="item-pallet">Full Pallet: </label>
                    <input type="number" name="item-pallet" id="item-pallet" class="item-pallet">
                 </div>
                 <div class="form-input-container">
                    <label for="item-location">Location: </label>
                    <input type="text" name="item-location" id="item-location" class="item-location">
                 </div>
                 <div class="form-buttons">
                    <button type="button" class="modal-close-btn">X</button>
                    <button type="submit" class="modal-submit-btn">Submit</button>
                 </div>
            </form>
        </dialog>
        <!--                    DELETE MODAL            -->
        <dialog class="del-modal" id="del-modal">
            <div class="del-item-form">
                <p class="del-modal-title">Delete Item</p>
                <p class="del-modal-item"></p>
                <p class="del-modal-text">This will permanently remove the selected item from the database.  This action cannot be undone.</p>
                <div class="del-modal-buttons">
                    <button class="del-modal-close-btn">Cancel</button>
                    <button class="del-modal-submit-btn">Delete</button>
                </div>
                
            </div>
        </dialog>
        <!--                    HISTORY MODAL            -->
        <dialog class="history-modal" id="history-modal">
            <div class="history-modal-div">
                <div class="history-modal-title-div"></div>
                <div class="history-top-btn-div">
                    <button class="item-log-btn">Change Log</button>
                    <button class="location-log-btn">Locations</button>
                </div>
                <div class="history-table-container">
                    <table class="history-table">
                        <thead>
                            <!-- date - user - message -->
                            <tr scope="col">
                                <th class="col-hist-date-head">Date</th>
                                <th class="col-hist-user-head">User</th>
                                <th class="col-hist-message-head">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <button class="history-close-btn">Close</button>
            </div>
        </dialog>
    </div>
    <div class="items-menu-container">
        <button class="btn-item-add">Add Item</button>
        <button class="btn-item-edit">Edit Item</button>
        <button class="btn-item-del">Delete Item</button>
        <button class="btn-item-history">Item History</button>
        <button class="btn-receiving">Receiving</button>
    </div>
</div>
