<div class="loc-container">
    <div class="overlay hidden"></div>
    <div class="loc-left-container">
        <div class="loc-search-container">
            <input
                type="text"
                name="loc-search"
                id="loc-search"
                class="loc-search"
            />
            <span class="loc-search-icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.8"
                    stroke="currentColor"
                    class="item-search-icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                    />
                </svg>
            </span>
        </div>
        <div class="loc-table-container">
            <table class="loc-table">
                <thead>
                    <tr scope="col">
                        <th
                            data-sort="warehouseIndex"
                            data-direction="asc"
                            class="col-loc-head"
                        >
                            Location<span class="th-sort-direction"></span>
                        </th>
                        <th
                            data-sort="utn"
                            data-direction="asc"
                            class="col-utn-head"
                        >
                            UTN<span class="th-sort-direction"></span>
                        </th>
                        <th
                            data-sort="zone"
                            data-direction="asc"
                            class="col-zone-head"
                        >
                            Zone<span class="th-sort-direction"></span>
                        </th>
                        <th
                            data-sort="items"
                            data-direction="asc"
                            class="col-item-head"
                        >
                            Item (stock)<span class="th-sort-direction"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < locations.length; i++ ) { %>
                        <tr class="loc-parent <%= (i + 1) % 2 === 0 ? 'even' : 'odd' %>" data-locid="<%= locations[i].id %>" data-waridx="<%= locations[i].warehouseIndex %>">
                            <td class="col-loc"><%= locations[i].name %></td>
                            <td class="col-utn"><%= locations[i].utn %></td>
                            <td class="col-zone"><%= locations[i].zone %></td>
                            <td class="col-item"><%= locations[i].items[0]?.item?.name || "-" %></td>
                        </tr>
                        <tr class="loc-child">
                            <td colspan="4"><div class="loc-child-content">All Items<% locations[i].items.forEach(item => { %>
                                <%= ` - ${item.item.name}` %>
                            <% }) %></div></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <dialog class="modal" id="modal">
            <form action="" method="post" class="loc-form">
                <div class="form-title-container">
                    <p class="loc-form-header"></p>
                    <input type="text" name="loc-id" id="loc-id" class="loc-id" readonly >
                </div>
                <!-- location / zone / utn / items -->
                <div class="form-input-container">
                    <label for="loc-name">Name: </label>
                    <input type="text" name="loc-name" id="loc-name" class="loc-name">
                </div>
                <div class="form-input-container">
                    <label for="loc-zone">Zone: </label>
                    <select name="loc-zone" id="loc-zone" class="loc-zone">
                        <option value="">-Select a Zone</option>
                        <% zones.forEach(zone => { %>
                            <option value="<%= zone %>"><%= zone %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-input-container">
                    <label for="loc-utn">UTN: </label>
                    <input type="text" name="loc-utn" id="loc-utn" class="loc-utn">
                </div>
                <div class="form-input-container loc-prev-container">
                    <label for="loc-prev">Comes After: </label>
                    <select name="loc-prev" id="loc-prev" class="loc-prev">
                        <option value="">-Select a Location-</option>
                        <option value="-1"></option>
                        <% locations.forEach(location => { %>
                            <option value="<%= location.warehouseIndex %>"><%= location.name %></option>
                        <% }) %>

                    </select>
                </div>
                <div class="form-input-container loc-items-container">
                    <label for="loc-items">Items: </label>
                    <textarea name="loc-items" id="loc-items" class="loc-items" rows="4"></textarea>
                </div>
                <div class="form-buttons">
                    <button type="button" class="modal-close-btn">X</button>
                    <button type="submit" class="modal-submit-btn">Submit</button>
                </div>
            </form>
        </dialog>
        <!--                    DELETE MODAL            -->
        <dialog class="del-modal" id="del-modal">
            <div class="del-loc-form">
                <p class="del-modal-title">Delete Location</p>
                <p class="del-modal-location"></p>
                <p class="del-modal-text">This will permanently remove the selected location from the database.  This action cannot be undone.</p>
                <div class="del-modal-buttons">
                    <button class="del-modal-close-btn">Cancel</button>
                    <button class="del-modal-submit-btn">Delete</button>
                </div>
            </div>
        </dialog>
        <!--                    HISTORY MODAL            -->
        <dialog class="history-modal" id="history-modal">
            <div class="history-modal-div">
                <div class="history-modal-title-div"></div>
                <div class="history-top-btn-div">
                    <button class="loc-log-btn">Change Log</button>
                    <button class="item-log-btn">Items</button>
                </div>
                <div class="history-table-container">
                    <table class="history-table">
                        <thead>
                            <!-- date - user - message -->
                            <tr scope="col">
                                <th class="col-hist-date-head">Date</th>
                                <th class="col-hist-user-head">User</th>
                                <th class="col-hist-message-head">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <button class="history-close-btn">Close</button>
            </div>
        </dialog>
    </div>
    <div class="loc-menu-container">
        <button class="btn-loc-add">Add Location</button>
        <button class="btn-loc-edit">Edit Location</button>
        <button class="btn-loc-del">Delete Location</button>
        <button class="btn-loc-history">Location History</button>
        <button class="btn-loc-cyclecount">Cycle Count</button>
    </div>
</div>
