<div class="process-container">
    <div class="overlay hidden"></div>
    <div class="left-container">
        <div class="search-container">
            <input type="text" name="search" id="search" />
            <span class="search-icon-span"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="search-icon"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                    />
                </svg>
            </span>
        </div>
        <div class="brand-buttons">
            <% brands.forEach(brand => { %>
                <button class="brand-btn" data-brand="<%= brand %>"><%= brand %></button>
            <% }) %>
        </div>
        <div class="item-display">
            <ul class="item-list">
                <% items.forEach(item => { %>
                <li class="item-list-item" data-item="<%= item.name %>" data-weight="<%= item.weight %>" data-palletqty="<%= item.palletQty %>"><p class="item-name"><%= item.name %></p></li>
                <% }) %>
            </ul>
        </div>
        <div class="add-container">
            <button class="add-btn">Add To Order</button>
            <input type="number" class="add-qty" value="1">
        </div>
        <dialog class="modal" id="modal">
            <div class="modal-content-wrapper">
                <h2 class="modal-title"></h2>
                <div class="modal-details-wrapper">
                    <p class="modal-pallet"></p>
                    <p class="modal-piece"></p>
                    <p class="modal-weight"></p>

                </div>
                <div class="modal-btns">
                    <button class="modal-close-btn">X</button>
                    <button class="modal-save-btn">Save Order</button>
                </div>

            </div>
        </dialog>
    </div>
    <div class="right-container">
        <div class="order-input-container">
            <p class="order-label">Order #:</p>
            <input type="text" name="order-num" id="order-num">
            <button class="log-btn">Order Log</button>
        </div>
        <div class="order-details">
            <table class="order-details-table">
                <thead>
                    <tr scope="col">
                        <th>Qty</th>
                        <th class="col-item-header">Item</th>
                        <th>Weight</th>
                        <th>Pallet</th>
                        <th class="col-remove-header"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="order-btns">
            <button class="clear-btn">Clear</button>
            <button class="process-btn">Process</button>
        </div>
    </div>
    <!--                    ORDER LOG MODAL            -->
    <dialog class="order-log-modal" id="order-log-modal">
        <div class="order-log-content-wrapper">

            <div class="order-log-left">
                <div class="order-search-container">
                    <input type="text" name="order-search" id="order-search">
                    <span class="log-search-icon-span"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="log-search-icon"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                        />
                    </svg>
                    </span>
                </div>
                <div class="order-display">
                    <ul class="order-list">
                    </ul>
                </div>
                <button class="order-copy">Copy</button>            
            </div>
            <div class="order-log-right">
                <div class="order-header-details">
                    <div class="order-user-container">
                        <p class="order-user-title">USER: </p>
                        <p class="order-user"></p>
                    </div>
                    <div class="order-num-container">
                        <p class="order-num-title"></p>
                    </div>
                    <div class="order-date-container">
                        <p class="order-date-title">DATE: </p>
                        <p class="order-date"></p>
                    </div>
                </div>
                    <!-- order information table table here -->
                <div class="order-history-details">
                    <table class="order-history-details-table">
                        <thead>
                            <tr scope="col">
                                <th class="history-col-item-header">Item</th>
                                <th class="history-col-qty-header">Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="order-footer-details">
                    <div class="order-plt-container">
                        <p class="pallet-title">Pallets: </p>
                        <p class="pallet-count"></p>
                    </div>
                    <div class="order-piece-container">
                        <p class="piece-title">Pieces: </p>
                        <p class="piece-count"></p>
                    </div>
                    <div class="order-weight-container">
                        <p class="weight-title">Weight: </p>
                        <p class="order-weight"></p>
                    </div>
                </div>
                <button class="close-log-modal-btn">Close</button>
                
            </div>
        </div>
    </dialog>
</div>
