<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Warehouse Inventory Manager</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/index.css" />

        <% if (typeof styles !== "undefined") { %>
            <% styles.forEach(style => { %>
                <link rel="stylesheet" href="/css/<%= style %>.css">
            <% }) %>
        <% } %>
    </head>
    <body>
        <div class="sidebar-div"><%- include('partials/sidebar') %></div>
        <div class="main-div">
            
            <%- include('partials/notice') %>
            
            <%- include(`partials/${main}`) %>
        </div>
        <% if (main !== "home") { %>
            <script src="<%= `js/${main}.js` %>"></script>
        <% } %>

        <script src="js/notice.js" type="module"></script>
    </body>
</html>
